// colors
$red: #d32e36;
$blue: #7BCBC3;
$white: #FFFFFF;

// variables 
$primary: $white;
$secondary: $red;

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
// Font Families
$helvetica: Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', sans-serif;