// colors
$red: #d32e36;
$blue: #7BCBC3;
$white: #FFFFFF;

// variables 
$primary: $white;
$secondary: $red;

// font families
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$open-sans: 'Open Sans', sans-serif;