html {
  font-family: $open-sans;
}

body {
  background-image: url("../images/flying.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-case {
  @include button($white);
    &:hover, &:active &:focus {
      color: $red;
    }
}

.icon-pass {
  @include button($white);
  &:hover, &:active &:focus {
      color: $red;
    }
}

.icon-gate-1 {
  @include button($white);
  &:hover, &:active &:focus {
      color: $red;
    }
}

.bttn {
  display: inline-block;
  margin: 10em;
}